<div class="background">
    <h1 *ngIf="posts.length <= 0">{{ 'no-posts' | translate }}</h1>
    <h1 *ngIf="posts.length > 0">{{ 'posts' | translate }}</h1>
    <div class="add-button">
        <button (click)="addPost()">{{ 'add-post' | translate }}</button>
    </div>
    <div *ngIf="posts.length > 0" class="table-container">
        <table>
            <thead>
                <tr>
                    <th>{{ 'number' | translate }}</th>
                    <th>{{ 'location' | translate }}</th>
                    <th>{{ 'device-number' | translate }}</th>
                    <th>{{ 'actions' | translate }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tempPost of posts">
                    <td>{{ tempPost.id }}</td>
                    <td>{{ tempPost.location }}</td>
                    <td>
                        <ng-container *ngIf="tempPost.scanningDeviceId; else noValue">
                            {{ tempPost.scanningDeviceId }}
                        </ng-container>
                        <ng-template #noValue>{{ 'missing' | translate }}</ng-template>
                    </td>
                    <td *ngIf="tempPost.scanningDeviceId === 0">
                        <button class="assign-device" (click)="assignDevice(tempPost.id!)">{{ 'assign-device' | translate }}</button>
                    </td>
                    <td *ngIf="tempPost.scanningDeviceId !== 0">
                        {{ 'device-assigned' | translate }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
