<div class="assigning-container">
    <div class="assigning-box">
      <h2>Assigning commander</h2>
      <div class="error-messages" *ngIf="errorMsg.length > 0">
        <p *ngFor="let error of errorMsg">{{ error }}</p>
      </div>
      <form (submit)="onSubmit()">
        <div class="form-group">
          <label for="groupId">Group number</label>
          <input type="text" id="groupId" [(ngModel)]="assign.groupId" name="groupId" readonly>
        </div>
        <div class="form-group">
          <label for="commanderId">Commander id</label>
          <input type="number" id="commanderId" [(ngModel)]="assign.commanderId" name="commanderId" required>
        </div>
        <div class="form-actions">
          <button type="button" (click)="onCancel()">Cancel</button>
          <button type="submit">Assign</button>
        </div>
      </form>
    </div>
</div>
  