<div class="background">
    <div class="add-button">
        <button (click)="addBattleGroup()">Add battle group</button>
    </div>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Number</th>
                    <th>Type</th>
                    <th>Personnel Count</th>
                    <th>Commander ID</th>
                    <th>Commander First Name</th>
                    <th>Last Name</th>
                    <th>Second Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let group of battleGroups">
                    <td>{{group.id}}</td>
                    <td>{{getType()}}</td>
                    <td>{{group.personnelCount}}</td>
                    <td>
                        <ng-container *ngIf="group.battalionCommanderDTO?.id; else noValue"> 
                            {{group.battalionCommanderDTO?.id}}
                        </ng-container>
                        <ng-template #noValue>Unassigned</ng-template>
                    </td>
                    <td>
                        <ng-container *ngIf="group.battalionCommanderDTO?.firstName; else noValue"> 
                            {{group.battalionCommanderDTO?.firstName}}
                        </ng-container>
                        <ng-template #noValue>Unassigned</ng-template>
                    </td>
                    <td>
                        <ng-container *ngIf="group.battalionCommanderDTO?.lastName; else noValue"> 
                            {{group.battalionCommanderDTO?.lastName}}
                        </ng-container>
                        <ng-template #noValue>Unassigned</ng-template>
                    </td>
                    <td>
                        <ng-container *ngIf="group.battalionCommanderDTO?.secondName; else noValue"> 
                            {{group.battalionCommanderDTO?.secondName}}
                        </ng-container>
                        <ng-template #noValue>Unassigned</ng-template>
                    </td>
                    <td>
                        <button class="see-resources" (click)="seeResource(group.id!)">See resources</button>
                        <button *ngIf="group.battalionCommanderDTO?.id; else assignCommanderTemplate" class="commander-info" (click)="seeCommanderInfo(group.id!)">Commander info</button>
                        <ng-template #assignCommanderTemplate>
                            <button class="commander-info" (click)="assignCommander(group.id!)">Assign Commander</button>
                        </ng-template></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
