<div class="background" *ngIf="commander">
    <div class="commander-container">
      <h2>Info of commander №{{ commander.id }}</h2>
      <div class="form-columns"> 
        <div class="form-column">
          <div class="commander-item">
            <label>First name</label>
            <input type="text" [(ngModel)]="commander.firstName">
          </div>
          <div class="commander-item">
            <label>Last name</label>
            <input type="text" [(ngModel)]="commander.lastName">
          </div>
          <div class="commander-item">
            <label>Second name</label>
            <input type="text" [(ngModel)]="commander.secondName">
          </div>
          <div class="commander-item">
            <label>Rank</label>
            <input type="text" [(ngModel)]="commander.rank">
          </div>
        </div>
        <div class="form-column">
          <div class="commander-item">
            <label>Post</label>
            <input type="text" [(ngModel)]="commander.role">
          </div>
          <div class="commander-item">
            <label>Age</label>
            <input type="text" [(ngModel)]="commander.age">
          </div>
          <div class="commander-item">
            <label>Email</label>
            <input type="text" [(ngModel)]="commander.email">
          </div>
          <div class="commander-item">
            <label>Passport number</label>
            <input type="text" [(ngModel)]="commander.passportNumber">
          </div>
        </div>
      </div>
      <button class="back-button" (click)="goBack()">Go back</button>
    </div>
  </div>
  