<div class="background">
    <div class="back-button">
        <button (click)="goBack()">{{ 'go-back' | translate }}</button>
    </div>
    <h1 *ngIf="carChecks.length<=0">{{ 'no-car-checks' | translate }}</h1>
    <div *ngIf="carChecks.length>0" class="table-container">
        <table>
            <thead>
                <tr>
                    <th>{{ 'number' | translate }}</th>
                    <th>{{ 'device-number' | translate }}</th>
                    <th>{{ 'location' | translate }}</th>
                    <th>{{ 'car-number' | translate }}</th>
                    <th>{{ 'check-type' | translate }}</th>
                    <th>{{ 'date' | translate }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let carCheck of carChecks">
                    <td>{{carCheck.id}}</td>
                    <td>{{carCheck.scanningDeviceDTO?.id}}</td>
                    <td>{{carCheck.scanningDeviceDTO?.postDTO?.location}}</td>
                    <td>{{carCheck.supplyCarId}}</td>
                    <td>{{carCheck.carStatus}}</td>
                    <td>{{carCheck.localDateTime}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
